* {
  box-sizing: border-box;
}
@keyframes animateImg {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  12.25%{
    transform: scale(1.65)
  }
  25% {
    transform: scale(.85);
    opacity: 0.1;
  }
  50% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1.1);
    opacity: .35;
  }
}

a {
  color: red;
  text-decoration: none;
}
ul {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  padding-left: 0;
  background-color: white;
  padding: 20px;
}
.highscore-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}
.highscore-headline {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 55px;
}
.highscore-item:not(:last-child) {
  margin-bottom: 20px;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
table {
  border: 3px solid white;
  border-spacing: 0;
  box-shadow: inset 0 0 10px #000000;
}
td {
  font-size: 8px;
  min-width: 20px;
  height: 22px;
  padding: 0;
}

/* main overlay */
#game-panel,
#highscores-page,
#paused-page {
  height: 400px;
  position: absolute;
  left: 11px;
  top: 44px;
  width: 340px;
  background-color: #000;
}
#game-info,
#footer {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.flex-item {
  color: white;
  font-size: 13px;
}
#container {
  max-width: 360px;
  padding: 18px 10px;
  background-color: #000000;
  position: relative;
  left: 300px;
}

#highscores-page {
  background: #000000;
  display: none;
}
#paused-page {
  display: none;
  color: white;
  align-items: center;
  justify-content: center;
}
#canvas {
  border: 1px solid white;
}
#controls {
  position: absolute;
  bottom: 60px;
  left: 60px;
  color: white;
  font-size: 12px;
}
#game-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-logo {
  animation: animateImg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#game-menu .logo {
  align-self: center;
}

#game-menu > *:not(:last-child) {
  margin-bottom: 20px;
}

#game-menu > *:first-child {
  margin-bottom: 65px;
}


